<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/head :: head">
</head>
<body>
<div class="container-fluid">
    <header id="header" th:replace="common/header :: header"></header>
    <div class="container content_center" >
        container
    </div>
    <footer id="footer" th:replace="common/footer :: footer"></footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jqPaginator.min.js"></script>

</body>
</html>